.signIn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #fff;
  
  &__content {
    background: #b0aeee;
    background: radial-gradient(circle, #b0aeee 50%, rgba(148,210,233,1) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    width: 40rem;
    height: 25rem;
    text-align: center;
    padding: 1rem;

    &-title {
      font-family:'Courier New', Courier, monospace;
      text-transform: uppercase;
      letter-spacing: .2rem;
      color: #fff;
      font-weight: 600;
      font-size: 3.5em;
    }

    &-description {
      font-family:'Courier New', Courier, monospace;
      color: #fff;
      font-weight: 300;
      font-size: 1.2em;
      margin-bottom: 1rem;
    }
  }

  &__button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
    width: 65%;
    color: #b0aeee;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 18px;
    border: 1px solid transparent;
    font-weight: 600;
    letter-spacing: .2rem;  
    transition: .3s all;
    background-color: #fff;
  
    &:hover {
        background-color: transparent;
        color: #fff;
        border: 1px solid #fff;
    }
  
    &:active {
        transform: translateY(4px);
    }    
  }
}