* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: #b0aeee;
  background: radial-gradient(circle, #b0aeee 50%, #94d2e9 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  max-height: 150vh;
}